<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div id="app" class="d-flex align-content-center">
        <div class="container-chat m-5 d-flex ">

            <!-- SIDE LEFT -->


            <!-- NAV BAR -->
            <div class="container-left ">
                <div class="nav-profile d-flex justify-content-between align-items-center ">
                    <div class="img-profile m-3">
                        <img src="./img/profile.JPG" class="" alt="" />
                    </div>
                    <div class="icons-container d-flex">
                        <div class="me-3">
                            <img src="./img/community-icon.svg" alt="community" />
                        </div>
                        <div class="me-3">
                            <img src="./img/status-icon.svg" alt="status" />
                        </div>
                        <div class="me-3">
                            <img src="./img/message-icon.svg" alt="message" />
                        </div>
                        <div class="me-3">
                            <img src="./img/menu-icon.svg" alt="menu" />
                        </div>
                    </div>
                </div>
                <!-- END NAVBAR -->

                <!-- ZONA INPUT -->
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input type="text" class="form-control" id="autoSizingInputGroup"
                        placeholder="Cerca o inizia una nuova chat" @input="filterChat()" v-model="chatSearch" />
                </div>

                <!-- LISTA CHAT  -->
                <div class="left-chat overflow-auto">
                    <div class="chat border border-success p-2 border-opacity-10 d-flex align-items-center p-2 justify-content-between"
                        v-for="(contact, index) in (chatFiltered === '' ? contacts : chatFiltered ) "
                        @click="changeChat(contact.id) "
                        :class="(!chatFiltered ? index === indexChat : contact.id === selectPerson ) ?  'active' : '' ">
                        <div class="chat-box  d-flex align-items-center">
                            <div class="img-profile ">
                                <img :src="contact.avatar" :alt="contact.name" class="rounded-circle" />
                            </div>
                            <div class="chat-text flex-grow-1 ms-3">
                                <div>
                                    <span class="fs-5 fw-semibold">{{contact.name}}</span>
                                </div>
                                <div>
                                    <span class="fs-6">{{contact.messages[contact.messages.length
                                        -1].message}}</span>
                                </div>
                            </div>
                            <div class="data-mex fs-smaller-08 subtitle-color align-self-end text-end">
                                <p>{{contact.messages[contact.messages.length -1].date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SLIDE LEFT -->

            <!-- SLIDE RIGHT CHAT -->

            <div class="container-right">
                <!-- TOPNAV RIGHT PROFILE -->
                <div class="nav-bar-right d-flex">
                    <div class="nav-profile d-flex align-items-center justify-content-between ms-3 ">
                        <div class="d-flex align-items-center ">
                            <div class="img-profile d-flex ">
                                <img :src="contacts[indexChat].avatar" :alt="contacts[indexChat].name"
                                    class="rounded-circle ">
                            </div>
                            <div class="d-flex flex-column  ms-3">
                                <div>
                                    <span class="fs-5 fw-semibold text-start">{{contacts[indexChat].name}}</span>
                                </div>
                                <div>
                                   <span class="data-mex">Ultimo accesso oggi
                                    alle:{{contacts[indexChat].messages[contacts[indexChat].messages.length -1].date}}
                                </span> 
                                </div>
                                
                            </div>
                        </div>

                        <div class="icons-container d-flex align-items-center justify-content-end">
                            <i class="fa-solid fa-magnifying-glass me-4 d-none d-md-block icons-color"></i>
                            <img src="./img/archived-icon.svg" alt="status" class="me-3 d-none d-md-block" />
                            <img src="./img/menu-icon.svg" alt="menu" class="me-3" />
                        </div>
                    </div>
                </div>
                <!-- ZONE CHAT UTENTE -->
                <div class=" interface overflow-auto ">
                    <div ref="texts" class=" single-mex mb-3 m-3 w-auto d-flex flex-column"
                        v-for="(chat, index) in contacts[indexChat].messages ">
                        <div :class="chat.status === 'sent' ? 'sent' : 'received' " class="text-break">{{chat.message}}
                            <span class="fw-lighter data-mex text-end ">{{chat.date}}</span>
                        </div>
                    </div>
                </div>
                <!-- INPUTE TEXT TO COMUNICATE IN THE CHAT -->
                <div class="chat-zone">
                    <div class="send-bar d-flex justify-content-between align-items-center p-3" @keyup.enter="sendMex">
                        <i class="fa-regular fa-face-smile icons-color me-3"></i>
                        <i class="fa-solid fa-paperclip icons-color"></i>
                        <input type="text" class="form-control mx-3" placeholder="Scrivi un messaggio"
                            @keyup.enter="sendMex()" v-model="newMessageText" />
                        <i  :class="newMessageText === '' ? 'd-block' : 'd-none'" class="fa-solid fa-microphone icons-color"></i>
                        <i @click="sendMex" :class="newMessageText === '' ? 'd-none' : 'd-block' " class="fa-solid fa-paper-plane"></i>
                    </div>
                </div>
            </div>

            <!--END SLIDE RIGHT CHAT -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"
        integrity="sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/script.js"></script>
</body>

</html>